.playListContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 116px;
    bottom: 43px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 50;
    cursor: default;
}

.categoryName {
    position: relative;
    padding: 3px 15px;
    font-size: .8em;
    border-top: 1px solid rgb(38, 47, 66);
    border-bottom: 1px solid rgb(38, 47, 66);
    background-color: rgb(20, 26, 36);
    color:rgb(83, 99, 138);
}

.categoryName:first-child {
    border-top: none;
}

.favoritesInfo {
    margin-top: 30px;
    padding: 0px 10px;
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(88, 125, 144);
    color:rgb(12, 17, 20);
}