.footerContent {
    padding: 5px 10px 6px 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 150;
    color:rgb(129, 186, 218);
    border-top: 1px solid rgb(38, 47, 66);
    background-color: rgb(23, 28, 39);
    box-shadow: -1px -1px 16px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: default;
}

.leftBtns {
    flex: 1;
}

.allButton, 
.favoritesButton {
    margin-top: 4px;
    margin-right: 10px;
    display: inline-block;
    padding: 0;
    height: 28px;    
    background-color:transparent;
    color:  rgb(64, 91, 107);
    border-radius: 18px;
    border: none;
    font-size: 1.7em;
    line-height: 0;
    outline: none;
    cursor: pointer;
    transition: .3s all ease;

    &:hover {
        color:  rgb(129, 186, 218);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }
}

.addButton {
    margin-top: 4px;
    display: inline-block;
    padding: 0;
    height: 28px;    
    background-color:transparent;
    color:  rgb(64, 91, 107);
    border-radius: 18px;
    border: none;
    font-size: 1.7em;
    line-height: 0;
    outline: none;
    cursor: pointer;
    transition: .3s all ease;

    &:hover {
        color:  rgb(129, 186, 218);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }
}

.noActive {
    opacity: .3;
}