.playListItemContent {
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(104, 130, 179);
    font-size: .8em;
    cursor: pointer;
}

.editBtn {
    position: absolute;
    right: 10px;
    z-index: 100;
}

.deleteBtn {
    position: relative;
    right: 0;
    z-index: 100;
}