.header {
	position: relative;
	z-index: 2000;
	-webkit-user-select: none;
	background-color: #151a24;
	overflow: hidden;

	.topBar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 3px 0 3px 10px;
		background-color: #151a24;
		-webkit-app-region: drag;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		color: rgb(105, 133, 156);
		z-index: 10;
		transition: all 0.3s ease;
	}

	.title {
		margin-top: 0;
		font-family: "SFUIProDisplay", sans-serif;
		font-size: 16px;
		color:rgb(129, 186, 218);
		;
	}

	.logo {
		margin-bottom: -2px;
		margin-right: 1px;
		display: inline-block;
	}

	.btnWindow,
	.closeWindow {
		font-size: 16px;
		margin: -4px 0;
		padding: 4px 10px;
		cursor: pointer;
		-webkit-app-region: no-drag;
		background-color:#151a24;
		color:rgb(129, 186, 218);
		border: none;
		outline: none;
		transition: all 0.3s ease;

		&:hover {
			color: #fff;
			background-color:#262f41;
		}
	}

	.closeWindow:hover {
		background-color: #f50a3d !important;
	}
}