.header {
	position: relative;
	z-index: 2000;
	-webkit-user-select: none;
	background-color: rgb(21, 26, 36);
	overflow: hidden;
	cursor: default;

	.addVersion {
		font-size: .8em;
	}

	.topBar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 3px 0 3px 10px;
		background-color: rgb(21, 26, 36);
		-webkit-app-region: drag;
		position: fixed;
		box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.8);
		top: 0;
		left: 0;
		right: 0;
		color: rgb(105, 133, 156);
		z-index: 10;
		transition: all 0.3s ease;
	}

	.title {
		margin-top: 0;
		font-family: "SFUIProDisplay", sans-serif;
		font-size: 1em;
		color:rgb(129, 186, 218);
		;
	}

	.logo {
		margin-bottom: -2px;
		margin-right: 1px;
		display: inline-block;
	}

	.btnWindow,
	.closeWindow {
		font-size: 16px;
		margin: -4px 0;
		padding: 5px 10px 3px;
		cursor: pointer;
		-webkit-app-region: no-drag;
		background-color:rgb(21, 26, 36);
		color:rgb(129, 186, 218);
		border: none;
		outline: none;
		transition: all 0.3s ease;

		&:hover {
			color: rgb(255, 255, 255);
			background-color:#262f41;
		}
	}

	.closeWindow:hover {
		background-color: rgb(245, 10, 61) !important;
	}
}