.recordTime {
    margin-left: 12px;
    padding: 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    font-weight: normal;
    color: rgb(50, 158, 0);
    border: 1px solid rgb(38, 56, 66);
    border-radius: 8px;
}