.recordTime {
    margin-left: 12px;
    padding: 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    font-weight: normal;
    color: rgb(50, 158, 0);
    border: 1px solid rgb(38, 56, 66);
    border-radius: 8px;
}

.saving {
    padding: 0;
    font-size: .8em;
    color:rgb(50, 158, 0);
    margin-left: 8px;
    animation:blink 1s infinite;	
}

@keyframes blink{
    0%{color:rgb(50, 158, 0);}
    50%{color: rgb(59, 90, 107);}
    100%{color: rgb(50, 158, 0);}
}