.audioContent {
    position: relative;
    z-index: 300;
    margin-top: 34px;    
    padding: 10px 10px 12px 15px ;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 28, 39);
    border-top: 1px solid rgb(38, 47, 66);
    border-bottom: 1px solid rgb(38, 47, 66);
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.8);
    cursor: default;
}

.audioSelect {
    flex: 1;
    // margin-right: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.audioInfo {
    position: relative;
    z-index: 300;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 740px) {
    .audioContent {
        margin-top: 34px;
        padding: 10px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .audioInfo {
        margin-right: 0;  
    }
}



.selectOrAdd {
    padding: 0px 10px;
    display: block;
    border-radius: 12px;
    background-color: rgb(88, 125, 144);
    color:rgb(12, 17, 20);
}

.audioName {
    display: inline-block;
    color: rgb(129, 186, 218);
    font-family: "SFUIProDisplay", sans-serif;
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.audioCategory {
    padding: 0 8px;
    color: rgb(16, 23, 27);
    font-family: "SFUIProDisplay", sans-serif;
    font-size: 0.7em;
    display: inline-block;
    background-color: rgb(129, 186, 218);
    border-radius: 12px;
    color: #0c1214;
}

.stationFavorite {
    display: inline-block;
    width: 28px;
    height: 22px;
    padding: 0;
    margin: 0;
    line-height: 0em;
    background-color: transparent;
    border: none;
    color: rgb(25, 124, 0);
    font-size: .9em;
    cursor: pointer;
    outline: none;
    transition: .3s all ease;
    
    &:hover {
        color: rgb(114, 214, 90);
    }
    
}

.audioVisual {
    width: 20px;
    height: 20px;
    padding: 9px 0 0;
    display: inline-block;
    margin: 0 5px 0 0;
    line-height: 0em;
    background-color: transparent;
    border: none;
    color: rgb(58, 84, 98);
    font-size: .8em;
    cursor: pointer;
    outline: none;
    transition: .3s all ease;


    &:hover {
        color: rgb(129, 184, 214);
    } 
}

.controlWrap { 
    position: relative;  
    z-index: 300; 
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.audioControlPlay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.audioControlPlayBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}

.audioPlayBtn,
.audioPauseBtn,
.audioStopBtn {
    display: block;
    width: 28px;
    height: 34px;
    padding: 0;
    margin: 0 5px 0 0;
    line-height: 0em;
    background-color: transparent;
    border: none;
    color: rgb(129, 186, 218);
    font-size: 1.7em;
    cursor: pointer;
    outline: none;
    transition: .3s all ease;

    &:hover {
        color: rgb(93, 132, 155);
    }
}

.liveAudio {
    width: 90px;
    margin-left: 0;
    padding-left: 15px;
    text-align: left;
    font-size: .9em;
}

.liveOff {
    color:  rgb(51, 73, 87);
}

.liveOn {
    color:  rgb(129, 186, 218);
}

.onlineIndicator {
    display: inline-block;
    margin-left: -13px;
    width: 10px;
    height: 10px;
    background-color:  rgb(245, 10, 61);
    border-radius: 50%;
}

.audioReloadBtn {
    padding: 2px 10px 5px;
    margin: 0 0 0 -13px;
    height: 22px;
    background-color: rgb(129, 186, 218);
    border-radius: 18px;
    border: none;
    color:  rgb(23, 33, 39);
    font-size: .8em;
    outline: none;
    cursor: pointer;
    transition: .3s all ease;

    &:hover {
        background-color: rgb(93, 132, 155);
    }
}

.audioControlVolume {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}

.hidden {
    display: none;
}

.audioSoundBtn {
    display: block;
    width: 28px;
    height: 34px;
    padding: 0;
    margin: 0 0 0 10px;
    line-height: 0em;
    background-color: transparent;
    border: none;
    color: rgb(129, 186, 218);
    font-size: 1.7em;
    cursor: pointer;
    outline: none;
    font-size: 1.4em;
    transition: .3s all ease;

    &:hover {
        color: rgb(93, 132, 155);
    }
}

.audioRecordBtn {
    position: relative;
    display: block;
    opacity: .5;
    width: 27px;    
    height: 27px;
    padding: 0;
    margin: 0 0 0 10px;
    line-height: 0em;
    background-color: transparent;
    border: 2px solid rgb(129, 186, 218);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, .8);
    border-radius: 50%;    
    font-size: 1.7em;    
    outline: none;
    font-size: 1.4em;
    transition: .3s all ease;

    & i {
        display: inline-block;
        margin-left: 0;
        color: rgb(129, 186, 218);
    }

}

.audioRecordActive {
    & i {
        opacity: 1;
        cursor: pointer; 

        &:hover {
            color:rgb(245, 10, 61);
        }  
    }

}

.audioRecordGo {
    & i {
        color:rgb(255, 0, 0);
        animation:blinking 1s infinite;
    }
}

@keyframes blinking{
    0%{color:rgb(255, 0, 0); }
    50%{color: rgb(129, 186, 218);}
    100%{color:rgb(255, 0, 0);}
}


.volume {
    -webkit-appearance: none;
}

.volume {
    margin: 0;
    -webkit-appearance: none;
    border-radius: 4px;
    width: 90px;
    height: 8px;
    outline: none;
    background: rgb(69, 97, 114);
    border: 1px solid rgb(45, 63, 75);
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background:rgb(129, 186, 218);
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .8);
    transition: 0.1s;
}

.volume::-webkit-slider-thumb:hover,
.volume::-webkit-slider-thumb:active {
    width: 18px;
    height: 18px;
}

.errorStation {
    position: absolute;
    padding: 2px 10px;
    width: 350px;
    font-size: .9em;
    text-align: center;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 10, 61);
}

.linkBtn {
    width: 17px;
    height: 28px;
    padding: 9px 0 0;
    display: inline-block;
    margin: 0;
    line-height: 0em;
    background-color: transparent;
    border: none;
    color: rgb(58, 84, 98);
    font-size: .8em;
    cursor: pointer;
    outline: none;
    transition: .3s all ease;


    &:hover {
        color: rgb(129, 184, 214);
    } 
}

@media only screen and (max-height : 80px) {

	.audioContent {
        margin-top: 0;
        z-index: 300;
    }
}

.analyserWrap {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 100;
    width:500px; 
    height:78px;
    opacity: 0;
    margin-bottom: 30px; 
    visibility: hidden;
}

.analyserWrap::after {
    content: ""; 
    position: absolute;
    top:0;
    right:0;
    display: block;
    width: 100px;
    height: 78px;
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(23, 28, 39, 1) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(23, 28, 39, 1) 100%);
}

.analyserWrap::before {
    content: ""; 
    position: absolute;
    display: block;
    width: 100px;
    height: 78px;
    background: -webkit-linear-gradient(left, rgba(23, 28, 39, 1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(23, 28, 39, 1) 0%,rgba(0,0,0,0) 100%);
}

.activeVisual {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 740px) {
    .analyserWrap {
        opacity: .7;
    }
}