.searchContent {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: .3s all ease;
}

.searchContent input {
    width:178px;
    margin-right: 7px;
    padding: 3px 5px 3px; 
    border-radius: 6px;   
    font-size: .7em;
    border: 1px solid rgb(64, 91, 107);
    color:  rgb(129, 186, 218);
    background-color: transparent;
    outline: none;
}

.searchInput {
    padding: 0;
    display: none;
}

.searchActive {
    display: block;
}

.searchButton {
    margin-top: 3px;
    margin-right: 10px;
    display: inline-block;
    padding: 0;
    height: 26px;    
    background-color:transparent;
    color:  rgb(64, 91, 107);
    border-radius: 18px;
    border: none;
    font-size: 1.6em;
    line-height: 0;
    outline: none;
    cursor: pointer;
    transition: .3s all ease;

    &:hover {
        color:  rgb(129, 186, 218);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }
}

